<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
</head>
<body>
<header th:fragment="header(activeLink)">
    <div class="header-wrapper">
        <a href="/">
            <div class="logo">
                <h1>Game Store</h1><small>&#169;</small>
            </div>
        </a>
        <div class="user">
            <p th:if="${@userHelperService.isAuthenticated()}" th:text="'Welcome: ' + ${@userHelperService.getUserDetails().getUsername()}"></p>
        </div>
    </div>
    <nav class="navbar">
        <div class="store-nav">
            <ul role="list">
                <li th:if="${@userHelperService.hasRole('ADMIN')}">
                    <a th:href="@{/admin/users}" th:classappend="${activeLink == 'admin'} ? 'active'">Admin panel</a>
                </li>
                <li th:if="${@userHelperService.isAuthenticated()}">
                    <a th:href="@{/library}" th:classappend="${activeLink == 'library'} ? 'active'">Library</a>
                </li>
                <li>
                    <a th:classappend="${activeLink == 'store'} ? 'active'" th:href="@{/store}">Store</a>
                </li>
            </ul>
        </div>
        <div class="user-nav">
            <ul role="list">
                <li th:if="${@userHelperService.isAuthenticated()}">
                    <a th:href="@{/user/shopping-cart}">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="cart-count" th:text="'(' + ${@cartHelperService.totalItems} + ')'"></span></a>
                </li>
                <li th:if="${@userHelperService.isAuthenticated()}">
                    <a th:classappend="${activeLink == 'profile'} ? 'active'" th:href="@{/user/profile}">Profile</a>
                </li>
                <li th:unless="${@userHelperService.isAuthenticated()}">
                    <a th:classappend="${activeLink == 'register'} ? 'active'" th:href="@{/auth/register}">Sign Up</a>
                </li>
                <li th:unless="${@userHelperService.isAuthenticated()}">
                    <a th:classappend="${activeLink == 'login'} ? 'active'" th:href="@{/auth/login}">Login</a>
                </li>
                <li th:if="${@userHelperService.isAuthenticated()}">
                    <form th:method="POST" th:action="@{/auth/logout}">
                        <button type="submit" class="btn-logout">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>