<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 - Internal Server Error</title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="container">
  <img src="/images/500-error.png" alt="500">
  <p class="subtitle">Server's on a coffee break!</p>
  <p class="description">
    The server took a quick coffee break. Try again later or contact the system administrator if the issue persists.
  </p>
  <a href="javascript:history.back()" class="home-link">Go Back</a>
  <a href="javascript:location.reload()" class="home-link">Try Again</a>
  <a href="/" class="home-link">Back To Homepage</a>
</div>
</body>
</html>