<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'register'})}"></header>
    <main>
        <div class="container">
            <h1>Sign Up</h1>
            <form th:action="@{/auth/register}" th:method="POST" th:object="${userRegisterBindingModel}">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" th:field="*{username}">
                    <small th:errors="*{username}" class="text-danger">Username error message</small>
                </div>
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" th:field="*{email}">
                    <small th:errors="*{email}" class="text-danger">E-mail error message</small>
                </div>
                <div class="input-group">
                    <label for="first-name">First name</label>
                    <input id="first-name" type="text" th:field="*{firstName}">
                    <small th:errors="*{firstName}" class="text-danger">Full name error message</small>
                </div>
                <div class="input-group">
                    <label for="last-name">Full name</label>
                    <input id="last-name" type="text" th:field="*{lastName}">
                    <small th:errors="*{lastName}" class="text-danger">Full name error message</small>
                </div>
                <div class="input-group">
                    <label for="age">Age</label>
                    <input id="age" type="number" th:field="*{age}">
                    <small th:errors="*{age}" class="text-danger">Age error message</small>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}">
                    <small th:errors="*{password}" class="text-danger">Password error message</small>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input id="confirm-password" type="password" th:field="*{confirmPassword}">
                    <small th:errors="*{confirmPassword}" class="text-danger">Password error message</small>
                </div>

                <button type="submit" class="btn-submit">Register</button>
            </form>
        </div>
    </main>
</body>
</html>